@import '../../../../../styles.scss';

@keyframes fadeTopDown{
    from{
        top: -10px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

::ng-deep {
    .k-i-caret-alt-down::before {
        content: "\e015";
    }

    .k-i-caret-alt-right::before {
        content: "\e014";
    }

    .k-grid td.k-selected,
    .k-grid .k-table-row.k-selected>td,
    .k-grid .k-table-td.k-selected,
    .k-grid .k-table-row.k-selected>.k-table-td {
        background-color: #1a6634 !important;
        color: #fff !important;
    }

    app-system-structure {
        background-color: #EDEFF3 !important;
        height: calc(100vh - 50px);

        kendo-drawer-content {
            height: calc(100vh - 50px);
        }

        .k-overlay {
            pointer-events: none;
        }

        .app-system-structure {
            height: 100%;
            padding: 0 5px;
            position: relative;

            .header-1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                border-bottom: 1px solid rgba(143, 155, 166, 0.4);
                overflow-x: auto;

                .breadcrumb {
                    background: none;

                    .k-breadcrumb-item-text {
                        font-size: 13px !important;
                    }

                    .k-breadcrumb-link,
                    .k-breadcrumb-root-link {
                        padding-top: 8px;
                    }
                }

                .button-group {
                    display: flex;
                    gap: 10px;
                    padding: 9px 0;
                }
            }

            .header-2 {
                padding: 10px 0 15px 0;
                display: flex;
                gap: 15px;
                font-size: 14px !important;
                color: #000;
                border-bottom: 1px solid rgba(143, 155, 166, 0.4);
                overflow-x: auto;

                .block-1,
                .block-2,
                .block-3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                }

                .block-1 {
                    span {
                        color: #5A6276;
                    }
                }

                .block-2 {
                    .text-filter {
                        text-transform: uppercase;
                        font-weight: 600;
                        color: #5A6276;
                    }

                    .reset-filter {
                        text-decoration: underline;
                        color: #008000;
                        cursor: pointer;
                        height: 32px;
                        display: flex;
                        align-items: center;

                        &:hover {
                            filter: brightness(140%);
                        }
                    }
                }

                .block-3 {
                    .text-search {
                        color: #5A6276;
                        font-weight: 600;
                    }

                    .box-search {
                        .input-search-container {
                            display: flex;
                            gap: 4px;
                            align-items: center;
                        }
                    }
                }
            }

            .list-sys-structure-container {
                position: absolute;
                bottom: 0;
                height: calc(100vh - 50px - 60px - 90px - 10px);
                overflow-y: auto;
                
                th.k-header,
                .k-grid-header {
                    display: none;
                }

                table {
                    width: 100%;
                    border-spacing: 0 4px;
                    background-color: #EDEFF3;
                    
                    .k-treelist-toggle{
                        padding: 4px 8px !important;
                    }

                    tr.k-table-row {
                        height: 58px;
                        background-color: #fff;
                    }

                    td.k-table-td {
                        height: 42px;
                    }

                    td[aria-colindex="1"] {
                        display: flex;
                        align-items: center;
                    }

                    td[aria-colindex="2"] {
                        overflow: visible;
                    }

                    .column-1 {
                        display: flex;
                        align-items: center;
                        padding-left: 10px;

                        .block-1 {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            width: 500px;

                            .icon {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }

                    .column-2 {
                        position: relative;

                        .button-tool {
                            width: 30px;
                            height: 30px;
                            border-radius: 3px;
                            background-color: #fff;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #575757;
                            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                            border: 1px solid #BDC2D2;

                            &:hover {
                                background-color: #BDC2D2;
                                color: #fff;
                                transition: 0.3s;
                            }

                            .k-icon{
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .button-tool-active {
                            background-color: #BDC2D2;
                            border-radius: 0 4px 4px 0;
                            color: #fff;
                            border: 1px solid #ffffff;
                        }

                        .list-action {
                            position: absolute;
                            left: -206px;
                            top: 0;
                            background-color: #BDC2D2;
                            border: 1px solid #fff;
                            animation: fadeTopDown 200ms ease-in;

                            .action {
                                display: flex;
                                padding: 8px;
                                color: #fff;
                                cursor: pointer;

                                .icon {
                                    width: 25px;
                                    display: flex;
                                    align-items: center;
                                }

                                .name {
                                    text-wrap: nowrap;
                                    width: 164px;
                                }

                                &:hover {
                                    background-color: #959DB3;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}