@import '../../../../../styles.scss';

::ng-deep {
    .k-i-caret-alt-down::before {
        content: "\e015";
    }

    .k-i-caret-alt-right::before {
        content: "\e014";
    }

    app-system-structure {
        height: calc(100vh - 50px);
        .app-system-structure {
            height: 100%;
            padding: 0 5px;
            position: relative;

            .header-1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                border-bottom: 1px solid rgba(143, 155, 166, 0.4);

                .breadcrumb {
                    background: none;

                    .k-breadcrumb-item-text {
                        font-size: 13px !important;
                    }

                    .k-breadcrumb-link,
                    .k-breadcrumb-root-link {
                        padding-top: 8px;
                    }
                }

                .button-group {
                    display: flex;
                    gap: 10px;
                    padding: 9px 0;
                }
            }

            .header-2 {
                padding: 10px 0 15px 0;
                display: flex;
                gap: 15px;
                font-size: 14px !important;
                color: #000;
                border-bottom: 1px solid rgba(143, 155, 166, 0.4);

                .block-1,
                .block-2,
                .block-3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                }

                .block-1 {
                    span{
                        color: #5A6276;
                    }
                }

                .block-2 {
                    .text-filter {
                        text-transform: uppercase;
                        font-weight: 600;
                        color: #5A6276;
                    }

                    .reset-filter {
                        text-decoration: underline;
                        color: #008000;
                        cursor: pointer;
                        height: 32px;
                        display: flex;
                        align-items: center;

                        &:hover{
                            filter: brightness(140%);
                        }
                    }
                }

                .block-3{
                    .text-search{
                        color: #5A6276;
                        font-weight: 600;
                    }

                    .box-search{
                        .input-search-container{
                            display: flex;
                            gap: 4px;
                            align-items: center;
                        }
                    }
                }
            }

            .list-sys-structure-container{
                position: absolute;
                bottom: 0;
                height: calc(100vh - 50px - 60px - 90px - 30px);
                overflow-y: auto;

                th.k-header, 
                .k-grid-header{
                    display: none;
                }
            }
        }
    }
}