@import '../../../../../../styles.scss';

.component-button{
    height: 32px;
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 3px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    color: #fff;

    .component-button_icon{
        display: flex;
        align-items: center;
    }

    .component-button_name{
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 12px !important;
        text-wrap: nowrap;
    }
}

.component-button:hover{
    filter: brightness(110%);
}

.success{
    background-color: $dark-green;
    color: #fff;
    box-shadow: rgba(65, 179, 255, 0.4) 0px 3px 5px 0px;
    font-size: 11px;
    align-items: center;
}

.default{
    background-color: #fff;
    color: #000;
    font-weight: normal;
    text-transform: none;
    box-shadow: $box-shadow5;
}

.default:hover{
    background-color: rgba($color: #727272, $alpha: 0.1);
}

.infor{
    background-color: $primary;
}

.warning{
    background-color: $warning;
}

.error{
    background-color: $red;
}