::ng-deep {
  component-text-dropdown {
    .text-dropdown {
      display: flex;
      flex-direction: column;
      gap: 4px;

      kendo-dropdownlist {
        font-size: 13px;

        .k-input-value-text {
          display: flex;
          color: #000;
        }
      }
    }
  }
}