@import '../../../../../styles.scss';


.block-breadcrumb-status-button {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid $grey;
    overflow-x: auto;
    text-wrap: nowrap;

    &_breadcrumb {
        .k-breadcrumb-item-text {
            font-size: 13px !important;
        }
    }

    &_status {
        font-size: 14px;
    }

    &_button-group {
        font-size: 14px;
        display: flex;
        gap: 10px;
    }
}


.block-filter-evaluation {
    padding: 15px;
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    border-bottom: 1px solid $grey;

    .filter-date {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 11px;

        .label {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: #5c6873;
            font-size: 13px;
        }

        .date {
            display: flex;
            gap: 10px;
            height: auto;

            app-datepicker {
                height: 32px !important;
            }

            .line {
                display: flex;
                align-items: center;
                font-size: 13px;
            }

            .checkbox {
                height: 33px !important;
            }
        }

    }
}

.block-list-evaluation {
    padding-top: 15px;
    width: 100%;
    height: calc(100vh - 50px - 62.9px - 94.39px);

    .k-pager-info.k-label, .k-dropdown-list{
        display: none !important;
    }

    .k-pager-sizes{
        .k-label{
            display: none;
        }
    }

    .k-grid-content{
        background-color: #F0F3F5;
    }

    .k-master-row.k-table-alt-row .k-grid-content-sticky,
    .k-master-row.k-table-alt-row .k-grid-row-sticky {
        background-color: white;
    }

    

    .k-master-row.k-table-row.k-selected td.k-grid-content-sticky,
    .k-master-row.k-table-row.k-selected .k-table-td.k-grid-row-sticky,
    .k-master-row.k-table-row td.k-grid-content-sticky.k-selected,
    .k-master-row.k-table-row .k-table-td.k-grid-content-sticky.k-selected {
        background-color: #48855D !important;
    }


    .k-grid .k-grid-md td,
    .k-grid .k-grid-md .k-table-td,
    .k-grid-md td,
    .k-grid-md .k-table-td {
        padding-block: 9px;
    }


    .k-grid,
    .k-grid-md {
        background-color: #fff !important;
        border: none !important;
        height: 100%;
    }

    .k-grid-header,
    .k-table-alt-row {
        border: none !important;
        background-color: #fff !important;
    }

    [id^="k-grid0-checkbox"],
    #k-grid0-select-all {
        border: 1px solid black !important;
        border-radius: 3px;
    }

    .k-grid-container {
        overflow-y: auto;
    }

    .k-grid-header-wrap,
    .k-table-th,
    .k-table-td {
        border: none !important;
    }

    .k-table-td {
        color: #000 !important;
    }

    .k-table-thead {
        border-bottom: 6px solid #F0F3F5 !important;

        .k-table-row {
            background-color: #F0F3F5 !important;
            border: none !important;
            font-weight: 600;
            color: #5c6873;
            font-size: 14px;
        }

        #k-grid0-select-all {
            margin-top: 2px;
        }

    }

    .k-table-tbody {

        .k-table-row{
            background-color: #fff;
        }

        .k-table-row:hover,
        .k-table-row:hover>td.k-table-td[aria-colindex="6"] {
            background-color: #A3C2AE !important;
        }
    }

    .k-checkbox:checked,
    .k-checkbox.k-checked {
        border: none;
        box-shadow: none;
    }

    .k-grid .k-table {
        border-collapse: separate;
        border-spacing: 0 4px;
        background-color: #F0F3F5;

    }

    .k-grid td.k-selected,
    .k-grid .k-table-row.k-selected>td,
    .k-grid .k-table-td.k-selected,
    .k-grid .k-table-row.k-selected>.k-table-td {
        background: none;
    }

    .k-table-row:not(:last-child),
    .k-table-alt-row:not(:last-child) {
        border-bottom: 4px solid #F0F3F5 !important;
    }


    tr[aria-selected="true"] {
        background: none;
        background-color: #1a6634cc !important;
    }

    th.k-header[aria-colindex="1"],
    td.k-table-td[aria-colindex="1"] {
        text-align: center;
    }

    th.k-table-th[aria-colindex="4"] {
        justify-content: center;
    }

    th.k-table-th[aria-colindex="5"],
    td.k-table-td[aria-colindex="5"] {
        padding-inline-end: 58px;
        justify-content: end;
    }

    td.k-table-td[aria-colindex="6"] {
        text-align: center;
        overflow: visible;
        padding: 0;
        cursor: pointer;
        box-shadow: -3px 0 3px #8f9ba633;;
    }

    .k-grid-header-sticky {
        background: none !important;
    }

    td.k-table-td {
        min-height: 50px;
    }

    .k-grid-header {
        background-color: #F0F3F5 !important;
    }

    .col-1 {
        text-wrap: nowrap;
        width: 100%;

        .field-code-name,
        .field-category {
            display: flex;
            gap: 8px;
            height: auto;
            align-items: center;

            &_line {
                width: 2px;
                display: block;
                height: 14px;
                background-color: #000;
            }

            &_code,
            &_title {
                width: 62px;
            }
        }

        .field-code-name {
            font-size: 13px !important;
            font-weight: 700;
            color: #28262E !important;
        }

        .field-category {
            color: #23282C !important;

            &_line {
                background-color: #808080;
            }
        }
    }

    .col-2 {

        .date-start {
            font-size: 13px !important;
            font-weight: 600;
        }
    }

    .col-3 {
        text-align: center;
    }

    .col-4 {
        text-align: right;
        text-wrap: nowrap;

        .stage {
            color: #1a6634;
        }
    }

    .col-5 {
        text-align: right;
        align-items: end;
        padding: 0;

        .tool-box {
            padding: 15px;
            width: 28px;
            height: 28px;
            display: flex;
            text-align: center;
            align-items: center;
            margin: 0 auto;
            border: 1px solid #EFF0F2;
            box-shadow: $box-shadow5;
            border-radius: 1px;
            background-color: #FFF;
            position: relative;
            
            .k-i-more-horizontal {
                width: 100%;
            }
            
            &:hover{
                background-color: #D0D5E7;
                border: 1px solid #3d3d3d;
            }
            
            .action-list-box{
                border-radius: 4px 0 4px 4px;
                position: absolute;
                width: 220px;
                background-color: $grey;
                left: -221px;
                top: -1px;
                border: 1px solid #fff;
                box-shadow: $box-shadow3;

                .action{
                    padding: 8px 16px;
                    text-wrap: nowrap;
                    text-align: left;
                    color: #fff;
                }
            }
        }

        .tool-box.active{
            background-color: #D0D5E7;
            border: 1px solid #3d3d3d;
        }

    }

    .col-5.tool-box-active{
        z-index: 1000;
    }

    .pagination{
        height: 50px;
        align-items: center;
        width: 100%;
        padding: 0;
        background-color: #fafafa;
        justify-content: space-between;
        .page-size{
            display: flex;
            kendo-pager-page-sizes{
                border: 0px solid transparent;
                display: flex;
                flex-direction: row-reverse;
                kendo-dropdownlist{
                    background-color: white !important;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    .k-input-button{
                        kendo-icon-wrapper{
                         .k-button-icon::before{
                            content: "\e013";
                         }
                       }
                    }
                }
            }
            kendo-label{
                order: 1;
                .k-label{
                  display: none;
                }

                &::before{
                    content: "Hiển thị mỗi trang";
                    font-weight: bold;
                }
         
            }

       

        }

        .aria-pagin{
            padding-left: 10px;
            display: flex;

            .k-pager-nav{
                border-radius: 3px;
                font-weight: 500;
                &:hover{
                    background-color: #45494d !important;
                    color: white !important;
                }
                &.k-selected{
                    color: white !important;
                    background-color: #45494d !important;
                }
            }

            kendo-pager-prev-buttons{
                .k-pager-first{
                    kendo-icon-wrapper{
                        display: none;
                    }
                    .k-button-text::after {
                        content: "Đầu";
                      }
                }
                .k-icon-button{
                    .k-icon-wrapper-host{

                        .k-button-icon::before {
                            content: "\e016"; 
                          }

                        .k-i-caret-alt-right::before{
                            content: "\e016"; 
                        }
                    }
                }
            }

            kendo-pager-next-buttons{
                .k-pager-last{
                    
                    kendo-icon-wrapper{
                        display: none;
                        
                    }
                    .k-button-text::after {
                        content: "Cuối";
                      }
                }
                .k-icon-button{
                    .k-icon-wrapper-host{
                        .k-button{
                            padding: 5px;
                            margin: 0px;
                        }

                        .k-button-icon::before {
                            content: "\e014"; 
                          }
                    }
                }
  
            }
            
            .k-pager-numbers{
                button{
                    margin-right: 2px;
                    width: 20px !important;
                    padding: 0;
                    min-width: auto;
                    padding-inline: 5px;
                }
            }

            .k-dropdown-list{
                display: none;
            }
        }
    }
}