@import '../../../../../../../styles.scss';

::ng-deep {
    .k-label {
        cursor: pointer;
    }
}

.checkboxlist-container {
    display: flex;
    gap: 10px;

    .k-checkbox:checked,
    .k-checkbox.k-checked {
        border-color: $dark-green;
        color: white;
        background-color: $dark-green;
    }

    .k-checkbox:checked:focus,
    .k-checkbox.k-checked.k-focus {
        box-shadow: none;
    }

    .checkbox {
        padding: 4px 8px;
        border-radius: 18px;
        border: 1px solid $dark-green;
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        background-color: #fff;
        color: #000;
        box-shadow: 1px 3px 6px 1px #8f9ba633;
    }
}